.ticketItem {
  display: flex;
  border-bottom: 1px solid lightgray;

  div:first-child {
    color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;

    p {
      font-size: 20px;
    }

    b {
      margin: 3px 0;
    }

    i {
      color: #adb3bc;
    }

    span {
      color: #4eaa45;
      margin-top: 5px;
      font-weight: bold;
    }
  }

  div:last-child {
    display: flex;
    align-items: center;
    margin: 0 20px 0 auto;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      border-radius: 50%;
      border: 2px solid #0098ff;
      width: 20px;
      height: 20px;
      background: transparent;
      color: #0098ff;
      cursor: pointer;
    }

    p {
      color: #000;
      font-weight: bold;
      margin: 0 15px;
    }
  }
}